* {
  margin: 0;
  padding: 0;
}

#search {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  width: 100%;
  height: 10%;
  position: fixed;
  background-color: white;
}

.profile {
  border: 1px solid black;
  padding-top: 6px;
  padding-bottom: 6px;
  padding: 10px;
  padding-left: 10px;
  border-radius: 32px;
}

.fa {
  margin-left: 10px;
  margin-right: 10px;
}

#host {
  display: none;
}

.country {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.cities {
  background-color: black;
}

h1 {
  font-size: 30px;
  color: white;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 5px;
}

.london {
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  max-width: 1203px;
  margin: 0 auto;
  padding: 15px;
}

.topmost {
  margin-left: 35px;
}

.topmost h2 {
  font-size: 30px;
}

.topmost h2 a {
  font-size: 20px;
  color: #e8336a;
  text-decoration: underline;
}

.topmost p {
  font-size: 25px;
}

.container2 {
  display: inline-block;
  max-width: 90%;
  height: 200px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 500px;
  backdrop-filter: blur(25px);
  border-radius: 20px;
}

.container2 p {
  color: white;
  font-size: 15px;
  margin-top: 10px;
}

.container2 button {
  font-size: 15px;
  margin-top: 15px;
  border-radius: 32px;
  padding: 8px;
  background-color: #e8336a;
  color: white;
  border: 1px solid #e8336a;
}

main {
  height: 100vh;
  max-width: 100%;
  background-image: url(assets/background-images/bg-1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 75%;
  top: 0;
}

.events,
.happening {
  padding: 30px;
  margin-left: 10px;
}

.h-event {
  margin-left: 5px;
  margin-bottom: 10px;
}

.hosts {
  margin-top: 10px;
  margin-left: 40px;
}

.hosts img {
  max-width: 80%;
}

.dis-button {
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #e8336a;
  padding: 10px;
  border-radius: 32px;
  color: white;
  border: 1px solid #e8336a;
}

.load {
  margin-bottom: 15px;
  margin-left: 40%;
  background-color: #e8336a;
  padding: 10px;
  border-radius: 32px;
  color: white;
  border: 1px solid #e8336a;
}

.discover {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 30px;
  margin-left: 30px;
  color: white;
  text-align: center;
}

.host-event {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #e8336a;
  padding: 10px;
  border-radius: 32px;
  border: 1px solid #e8336a;
  color: white;
}

.footer {
  background-color: #f5f5f5;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: space-around;
}

.footer-logo {
  margin-top: 10px;
  height: auto;
}

ul {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 15px;
}

li {
  margin-top: 10px;
}

.head {
  margin-bottom: 15px;
  font-size: 20px;
}

.footer-links {
  margin-left: 15px;
}

.footer-logo {
  margin-left: 15px;
}

.event {
  margin-bottom: 20px;
}

.event h3 {
  margin-bottom: 10px;
}

.event p {
  margin-bottom: 5px;
}

.event-images {
  position: relative;
  z-index: -1;
}

.location {
  position: absolute;
  bottom: 2px;
  left: 2px;
}

.footer a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 960px) {
  .category {
    align-items: center;
  }

  main {
    background-size: 100% auto;
    background-attachment: scroll;
  }

  h1 {
    font-size: 48px;
    color: black;
  }

  .container2 {
    display: inline-block;
    height: 200px;
    padding: 20px;
    margin-top: 250px;
    max-width: 450px;
    margin-left: 90px;
    backdrop-filter: none;
  }

  .container2 button {
    font-size: 15px;
    margin-top: 15px;
    border-radius: 32px;
    padding: 8px;
    background-color: #e8336a;
    color: white;
  }

  .container2 p {
    font-size: 17px;
    color: rgb(39, 39, 39);
  }

  #host {
    display: block;
  }

  .row1,
  .row2,
  .happening-soon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .country {
    margin-top: 20px;
    display: block;
    justify-content: space-between;
  }

  .cities {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .h-event {
    margin-left: 60px;
    margin-bottom: 10px;
  }

  #search {
    display: block;
    width: 55vw;
    height: 2vw;
    border-radius: 32px;
    margin: 5px 5px 0px 5px;
    padding: 3px;
    font-size: 1vw;
  }

  .load {
    margin-left: 50%;
  }

  .topmost {
    margin-left: 90px;
  }

  .hosts {
    max-width: 80%;
    margin-right: 80px;
    display: flex;
    padding: 20px;
  }

  .hosts img {
    max-width: 60%;
    position: absolute;
    left: 600px;
    margin-right: 80px;
    z-index: -2;
  }

  #text {
    width: 350px;
    height: 200px;
    margin-top: 100px;
    padding: 70px;
    border-radius: 32px;
    border: 1px solid black;
    margin-left: 80px;
    background-color: rgb(255, 255, 255);
    background-attachment: fixed;
    z-index: -1;
  }

  .hosts h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .hosts p {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .discover {
    margin-top: 8%;
    margin-left: 10%;
    text-align: left;
  }

  .dis-button {
    margin-top: 15px;
  }

  .topmost h2 {
    font-size: 50px;
  }

  .topmost p {
    font-size: 20px;
  }

  .footer-content {
    margin-top: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
  }

  .footer-links {
    display: flex;
    margin-left: 15px;
  }

  ul {
    margin-left: 100px;
  }

  li {
    margin-top: 15px;
  }

  .footer-logo {
    margin-top: 50px;
    height: auto;
  }

  .head {
    margin-bottom: 10px;
  }

  .terms {
    display: flex;
    justify-content: space-around;
  }

  .left ul,
  .right ul {
    display: flex;
  }

  .left li,
  .right li {
    display: flex;
    margin-right: 10px;
  }
}